.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90vw;
  margin: 1rem auto;
}
.user-card {
  flex: 0 0 25%; // four-up
  margin: 0 1rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: left;

  &__info {
    font-size: .9rem;
  }

  img {
    width: 100%;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}